
.logo-ah {
  margin-left: 50px;
  margin-right: 50px;
}

.mx-6 {
  margin-left: 75px;
  margin-right: 75px;
}

.px-nav-menu{
  padding-left: 15px;
  padding-right: 15px;
}

.nav-link{
  padding: 0px !important;
}